{
  "PORT": "80",
  "TIMEOUT": "3600000",
  "LANGUAGE": "EN",
  "CURRENCY": "₪",
  "STACK_NAME": "ClusterName",
  "NODE_TLS_REJECT_UNAUTHORIZED": 0,
  "MANAGER_SECRET": "CHANGE_ME",
  "LOGS_DEBUG": "true",
  "TENANT_URL": "http://ClusterName.ta.automotivecloud.private",
  "TENANT_URL_SUFFIX": "/api",
  "TENANT_URL_PUBLIC": "https://ClusterName.ta.automotivecloud.net",
  "TENANT_JWT_SECRET": "2553904a-2cdf-4411-b615-9100bada8a6f",
  "TENANT_NAME": "ClusterName",
  "TENANT_VERSION": "3.2.6.0",
  "TENANT_DB_NAME": "ClusterName_tenant",
  "TENANT_DB_ENCRYPTION_KEY": "TPpz3RBGKGZFuAA56N28fNDalFf2b8kQ0oaqyjRxlnA=",
  "TENANT_DB_SIGNING_KEY": "qM1JXefKshFHM6L1O6EkSI0lUfyMG1R5V841qiS9VwWTQDTJ9iUrSzHBTf8QnttRJh7eTVjWLpW7pxcTjYAaQQ==",
  "TENANT_DICTIONARY_RESET_INTERVAL": "",
  "TENANT_DICTIONARY_RESET_COMPANY_NAME": "",
  "TENANT_SECRET": "f33b70d2-e9bc-4a15-b50e-f1c7039334bf",
  "TENANT_PROXY_APP_TYPE": "api",
  "TENANT_PROXY_TTL": "86400",
  "TENANT_LICENSE_TRIAL_TTL": "30",
  "TENANT_LICENSE_NOTIFICATION_EMAIL": "",
  "TENANT_EMAIL": "admin",
  "TENANT_ID": "1",
  "DMS_URL": "http://ClusterName.api.automotivecloud.private",
  "DMS_URL_PUBLIC": "https://ClusterName.api.automotivecloud.net",
  "DMS_URL_SUFFIX": "/xasdms/v2",
  "DMS_CACHE_KEY": "ClusterName_api",
  "DMS_JWT_SECRET": "4a750098-f870-4069-b152-ed543b02080d",
  "DMS_APP_TYPE": "Service",
  "DMS_SECRET": "110f500c-bed8-4e72-adbf-c632a30adb42",
  "DMS_DB_NAME": "ClusterName_api",
  "DMS_DB_INDEX_TIMEOUT": 0,
  "SERVICE_URL": "http://ClusterName.app.automotivecloud.private",
  "SERVICE_URL_PUBLIC": "https://ClusterName.app.automotivecloud.net",
  "SERVICE_LOGIN_WITHOUT_SAP": "false",
  "SERVICE_APP_TYPE": "vsfwa_api",
  "SERVICE_ACTIVE_SESSIONS": "3",
  "SERVICE_JWT_SECRET": "2fa9be63-4f55-4a5b-982f-9af1b9371ac1",
  "SERVICE_SMS_APP_TYPE": "service",
  "SERVICE_CORS_ORIGIN": "*",
  "SERVICE_COOKIE_SECURE": "",
  "CORE_URL": "http://ClusterName.core.automotivecloud.private",
  "CORE_URL_SUFFIX": "/xascore/v1",
  "CORE_APP_TYPE": "dms_pro",
  "CORE_SECRET": "e56b2f87-cae4-41d3-8933-a3da75005e80",
  "CORE_CORS_ORIGIN": "*",
  "CORE_JWT_SECRET": "d55c105d-65c9-428f-babe-52d4cd4a0e32",
  "CORE_DB_NAME": "ClusterName_core",
  "CORE_DB_INDEX_TIMEOUT": 10000,
  "UTILITIES_URL": "http://ClusterName.utilities.automotivecloud.private",
  "UTILITIES_URL_PUBLIC": "https://ClusterName.utilities.automotivecloud.net",
  "UTILITIES_URL_SUFFIX": "/xasutilities/v1",
  "UTILITIES_APP_TYPE": "dms_pro",
  "UTILITIES_SECRET": "aaebca71-0342-4e53-b4b8-91e64d865789",
  "UTILITIES_JWT_SECRET": "b59231d7-bafd-4c82-be2f-3f22d6cdf182",
  "UTILITIES_DB_NAME": "ClusterName_utilities",
  "UTILITIES_DB_INDEX_TIMEOUT": 60000,
  "UTILITIES_FILES_STORAGE_TYPE": "s3",
  "UTILITIES_FILES_STORAGE_LOCAL_PATH": "files-storage",
  "UTILITIES_FILES_STORAGE_CACHE": true,
  "UTILITIES_FILES_STORAGE_CACHE_TTL": 5,
  "UTILITIES_FILES_STORAGE_ROUTE": "/AttachmentsFileService",
  "UTILITIES_FILES_STORAGE_MAX_FILE_SIZE": 10,
  "UTILITIES_FILES_STORAGE_MAX_TOTAL_SIZE": 500,
  "UTILITIES_FILES_STORAGE_MAX_NAME_LENGTH": 50,
  "UTILITIES_FILES_STORAGE_RESIZE_WIDTH": 900,
  "UTILITIES_TRANSLOADIT_AUTH_KEY": "",
  "UTILITIES_TRANSLOADIT_SECRET_KEY": "",
  "UTILITIES_TRANSLOADIT_VIDEO_LENGTH": 2,
  "UTILITIES_SMTP_SUBJECT": "Signed report",
  "UTILITIES_SMTP_TEXT": "Hello, {customerName}! This is a report signed by you",
  "UTILITIES_SMTP_HTML": "Hello, {customerName}! This is a report signed by you",
  "UTILITIES_GOOGLE_OAUTH_CLIENT_ID": "",
  "UTILITIES_GOOGLE_OAUTH_CLIENT_SECRET": "",
  "UTILITIES_GOOGLE_OAUTH_REDIRECT_URL": "https://ClusterName.utilities.automotivecloud.net/xasutilities/v1/configuration/mailService/Google/oauth",
  "UTILITIES_GOOGLE_CALENDAR_NOTIFICATIONS_ADDRESS": "https://ClusterName.utilities.automotivecloud.net/xassales/v1/ActivitiesService/webhookUpdateActivity",
  "UTILITIES_MICROSOFT_OAUTH_CLIENT_ID": "",
  "UTILITIES_MICROSOFT_OAUTH_CLIENT_SECRET": "",
  "UTILITIES_MICROSOFT_OAUTH_TENANT_ID": "",
  "UTILITIES_MICROSOFT_OAUTH_REDIRECT_URL": "https://ClusterName.utilities.automotivecloud.net/xasutilities/v1/configuration/mailService/Microsoft/oauth",
  "UTILITIES_MICROSOFT_NOTIFICATIONS_ADDRESS": "https://ClusterName.utilities.automotivecloud.net/xassales/v1/ActivitiesService/webhookUpdateActivity",
  "SYNC_URL": "http://ClusterName.sync.automotivecloud.private",
  "SYNC_URL_PUBLIC": "https://ClusterName.sync.automotivecloud.net",
  "SYNC_SECRET": "",
  "SYNC_MAX_REQUESTS_PER_SECOND": "2",
  "SYNC_DB_NAME": "ClusterName_sync",
  "AWS_ACCOUNT_ID": "",
  "AWS_REGION": "",
  "AWS_ACCESS_KEY_ID": "",
  "AWS_SECRET_ACCESS_KEY": "",
  "AWS_TENANT_NAME": "ClusterName",
  "FILE_SERVER_PATH": "/file_server",
  "FILE_SERVER_TENANT_NAME": "ClusterName",
  "FILE_SERVER_ASSETS_PATH": "/server_assets",
  "FILE_SERVER_INSTRUCTIONS_PATH": "/server_instructions",
  "OPEN_ALPR_API_URL": "",
  "OPEN_ALPR_API_COUNTRY_CODE": "eu",
  "DEFACTO_URL": "http://defacto-service.com:8060",
  "DEFACTO_BRANCH_CODE": "",
  "DEFACTO_DEVICE_CODE": "",
  "SALES_URL": "http://ClusterName.sales.automotivecloud.private",
  "SALES_URL_PUBLIC": "https://ClusterName.sales.automotivecloud.net",
  "SALES_URL_SUFFIX": "/xassales/v1",
  "SALES_LOGIN_WITHOUT_SAP": "false",
  "SALES_APP_TYPE": "dms_pro",
  "SALES_TOKEN_TTL": "360000",
  "SALES_REFRESH_TOKEN_TTL": "2520000",
  "SALES_DB_NAME": "ClusterName_sales",
  "SALES_DB_INDEX_TIMEOUT": 0,
  "SALES_CACHE_KEY": "ClusterName_sales-api",
  "SALES_JWT_SECRET": "6ec61c79-e07a-4d62-bec5-40dcb014a4ec",
  "SALES_SECRET": "6de11c67-277d-4ede-93fd-57e12112ce71",
  "TIMEPORTAL_CORS_ORIGIN": "*",
  "TIMEPORTAL_JWT_SECRET": "43423094-939a-4b85-8e60-fac561eee8f5",
  "TIMEPORTAL_APP_TYPE": "TIMEPORTAL",
  "RSM_CORS_ORIGIN": "*",
  "RSM_SESSION_SECRET": "c793192f-b278-460e-878f-b74194029f6e",
  "RSM_SESSION_SAME_SITE": "none",
  "RSM_SESSION_SECURE": "false",
  "RSM_APP_TYPE": "REPAIRSHOPMONITOR"
}
